<!DOCTYPE html>

{% extends "portfolio/base.html" %}

    {% block content %}
    {% load static %}

    <!-- About Me -->
    <div class="row justify-content-center header-image mt-3">
        <div class="col-3">
            <img width=100% src="{% static 'images/profile.jpg' %}">
        </div>

        <div class="col-6 about-me">
            <h3>About Me</h3>
            <p>Hello! I am a senior at Crescenta Valley High School and I have been learning to code for about three years, since middle school 2018. I started with Java and then branched out into Python, HTML, CSS, and JavaScript. Other than coding, a hobby I have is dancing and I love to listen to music and watch variety shows.</p>
        </div>
    </div>
    
    {% endblock %}