<!DOCTYPE html>

{% extends "portfolio/base.html" %}

    {% block content %}
    {% load static %}

    <!-- About Me -->
    <div class="row justify-content-center aboutme-image mt-3">
        <div class="col-3">
            <img width=100% src="{% static 'images/profile.jpg' %}">
        </div>

        <div class="col-6">
            <h2>About Me</h2>
            <p>Hello! I am a student at Crescenta Valley High School and I have been learning to code for about three years, since middle school 2018. I started with Java and went to many coding competitions around my area. Then, I branched out.. About Me... About Me... About Me... About Me... About Me... About Me... About Me... About Me... About Me... About Me... About Me... About Me... About Me... About Me... About Me... About Me... About Me... About Me... About Me... About Me... About Me... About Me... </p>
        </div>
    </div>
    
    {% endblock %}